.container {
  display: flex;
  list-style: none;
  padding: 0 0 0 1em;
  margin: 0;
  justify-content: space-between;
}

.icon {
  display: block;
  padding: 0 1em 0 0;
  width: 42px;
  height: 42px;
}

.icon > svg {
  transition: fill linear 0.2s;
  fill: var(--link-color);
}

.icon:hover > svg {
  fill: var(--link-hover-color);
}

.description {
  display: none;
}
