.container {
  display: flex;
  align-items: center;
}

.photo {
  --photo-size: 2.5em;
  width: var(--photo-size);
  height: var(--photo-size);
  border-radius: calc(var(--photo-size) / 2);
  margin-right: 1em;
}

.name {
  font-size: 1em;
}
