.share {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3em;
}

.share svg {
  width: 1.5em;
  margin-right: 1em;
  fill: var(--link-color);
}

.share:hover svg {
  fill: var(--link-hover-color);
}
