.title {
  margin-bottom: 0.8em;
}

.date {
  color: var(--secondary-txt-color);
  font-style: italic;
  margin-bottom: 2.5em;
  font-size: 0.8em;
}

.notes {
  color: var(--secondary-txt-color);
  font-style: italic;
  font-size: 0.8em;
}
