:root {
  --main-bg-color: white;
  --main-txt-color: #2E2E2E;
  --main-header-color: #0D4477;
  --link-color: #1778D3;
  --link-hover-color: #0D4477;
  --secondary-txt-color: #686868;
  --code-bg-color: #eee;
  --blockquote-border-color: #ccc;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--main-bg-color);
  color: var(--main-txt-color);
  margin: 0;
  font-size: 100%;
  line-height: 1.5em;
}

h1, h2, h3, strong {
  color: var(--main-header-color);
}

h2 {
  font-size: 2em;
  margin: 2em 0;
}

h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 2em;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

blockquote {
  background: var(--code-bg-color);
  padding: 1em;
  border-left: 5px solid var(--blockquote-border-color);
  font-style: italic;
}

code {
  background: var(--code-bg-color);
  padding: 0.2em;
}

.hljs {
  line-height: 1.5em;
  padding: 1em;
  font-size: 1.1em;
}

.hljs code {
  background: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  padding: 4em 0 1em 0;
}

.page {
  display: flex;
  flex: 1;
  width: 100%;
}

.content {
  padding: 0 0 0 35px;
  width: 850px;
  font-size: 1.1em;
  line-height: 1.8em;
}

@media screen and (max-width: 1200px) {
  .page {
    margin: 0 auto;
    flex-direction: column;
  }

  .content {
    padding: 0;
  }

  .container {
    padding: 1em 0;
    width: 850px;
  }
}

@media screen and (max-width: 850px) {
  blockquote {
    margin: 0;
  }

  .content {
    margin: 0;
    width: 100%;
  }
  .container {
    width: 100%;
    margin: 0;
    padding: 1em;
  }
}

